.Box{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.Header{
    text-align: center;
    background-color: #A2E5FF;
    border: 3px solid black;
    

}

.Overview{
    font-size: large;
}
input{
    border: 1px solid black;
    background-position: 10px 10px;
}