.container {
    display: flex;
    justify-content: space-between;
    color:#000000;
    background-color:#D3D4C4;
    max-width: width 100%;;
    min-height: 100px;
    border-radius: 10px;
    border: 2px solid #000000;
    margin:auto;
}

.profileContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    flex-direction: row;
    justify-content: space-around;
    
    


}

.tr {
    justify-content: space-between ;
}


.profilePic {
    width: 50px;

}

.headitembig {
    display: inline;
}

.headitemsmall{
    display: none;
}

.roundCornerBox {
    
    background-color: #D3D4C4;
    border-radius: 10px;
    border: 2px solid #000000;
    width: 200px;
    height: 200px;
    word-wrap: break-word;
    /*margin: 1%;*/
    
}

@media (max-width: 500px){
    .container {
        display: flex;
        justify-content: space-between;
        color:#000000;
        background-color:#D3D4C4;
        max-width:1200px;
        min-height: 30px;
        margin:auto;
    }

    .headitembig {
        display: none;
    }

    .headitemsmall {
        display: block;
        align-items: center;
        margin: auto;    
    }

    .profilePic {
        display: none;
    }

    .profileContainer {
        display: flex;
        padding: 2%;
        flex-direction: column;
    
    }
};