* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;
}

img {
  height: 40%; width: 100%; 
  object-fit: contain;
}

.infoP {
  
  height: 30%;
  margin-bottom: 5%; 
  /* padding: 2%; */
}
.profileContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.headitemsmall {
  display: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}

.fontsize {
  font-size: 1.2em;
}
.container {
  justify-content: space-between;
  color: #000000;
  background-color: #add8e8;
  margin-top: 0em;
  margin-bottom: 20em;
  padding-bottom: 1rem;
  border-radius: 10px;
  border: 2px solid #000000;
  margin: auto;
}

.aboutUs {
  text-align: justify;
  max-width: 400px;
  float: left;
}

.aboutUs P {
  margin: 2%;
}
.Contact {
  text-align: right;
  width: 35%;
  float: right;
}

.Contact P {
  margin: 2%;
}

.makeroom1 {
  font-size: 1.5rem;
}

.headitembig {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-left:43.5%;
  margin-right: 43.5%;
  margin-bottom: 30px;
}

.makenewline {
  display: inline;
  text-align: center;
}

.personelName {
  text-align: center;
}

#bodyContent {
  display: flex;
  /* width: 100%; */
  /* margin-top: 20px; */
  /* margin-left: auto;
  margin-right: auto; */
  /* padding: 1%; */
}

.profileContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 2px;
  align-items: center;
  width: 100%;
}

#Contact {
  text-align: right;

  padding-top: 4%;
}

#aboutUs {
  text-align: left;
  padding-top: 4%;
  text-align: justify;
  max-width: 400px;
}

.footer-info {
  text-align: justify;
  display: flex;
  justify-content: space-between;
  color: #000000;
  background-color: #add8e8;
  overflow: hidden;
  border: 3px solid black;
  border-radius: 10px;
  width: 80%;
  padding: 20px;
  margin: auto;
}

.nameCard {
  display: flex;
  background-color: #add8e8;
  border-radius: 10px;
  border: 2px solid #000000;
  width: 220px;
  height: 200px;
  word-wrap: break-word;
  margin: 1%;
  margin-bottom: 1em;
}

.imageContainer {
  min-width: 36%;
  max-width: 36%;
  /* margin-top: 5%;
    margin-bottom: 5%; */
  margin: 2%;
}

.personelName {
  text-align: center;
  font-size: 17px;
}

.personelInfo {
  padding-top: 6%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 6%;
  font-size: 18px;
}

.ul {
  list-style-type: none;
}

.department {
  margin: 2%;
}

.role {
  margin: 2%;
}

.joined {
  margin: 10%;
}

.tr {
  justify-content: space-between;
  width: 195px;
  height: 56;
}

.td {
  padding: 1px;
  margin: 1px;
  border: 1px;
}

.profilePic {
  width: 50px;
}

.roundCornerBox {
  background-color: #d3d4c4;
  border-radius: 10px;
  border: 2px solid #000000;
  width: 200px;
  height: 200px;
  word-wrap: break-word;
  /*margin: 1%;*/
}

.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}

@media (max-width: 1000px) {
  .aboutUs {
    max-width: 45%;
  }
  .headitembig {

    margin-left: 42.5%;
    margin-right:42.5%;

  }
  #bodyContent {
    padding-top: 1%;
  }
  .profileContainer {
    width: 700px;
    margin: auto;
  }
  .nameCard {
    width: 300px;
    height: 175px;
  }
}

@media (max-width: 651px) {
  .profileContainer {
    display: flex;
    text-align: center;
  }

  .fontsize {
    font-size: 14px;
  }

  #bodyContent {
    padding-left: 25%;
    padding-right: 25%;
  }
  .container {
    display: flex;
    justify-content: space-between;
    color: #000000;
    background-color: #add8e8;
    min-height: 30px;
    margin: auto;
    align-items: center;
  }

  .aboutUs {
    text-align: justify;
    max-width: 45%;
    float: left;
  }
  /* .nameCard {
    display: flex;
    width: 65%;
    height: 300px;
    text-align: center;
    align-items: center;
  } */

  .makenewline {
    display: none;
  }
  .headitembig {
    display: none;
  }

  .headitemsmall {
    display: block;
    align-items: center;
    margin: auto;
  }

  /* .personalName {
    display: ;
  } */

  /*.profilePic {
    display: none;
  }*/

  .smallScreenText {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .personelInfo {
    width: 100%;
    padding-top:0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 7%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .imageContainer {
    display: inline;
  } 


  .personelName {
    position: center;
  }
  img {
    display: none;
  }
  .nameCard {
    display: block;
    height: 17.5%;
    
  }
  .infoP {
    margin: 1px;
    padding: 2px;
  }

}
